{%extends 'admin/layout.html'%}
{%block content%}
<div class="container ">
    <h3 class="mb-4">Tambah Guru</h3>
    <form action="/admin/form-tambah-guru" method="POST">
      <div class="mb-3">
        <label for="nip" class="form-label">NIP</label>
        <input type="number" class="form-control" id="nip" name="nip" required>
      </div>
      <div class="mb-3">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" id="nama" name="nama" required>
      </div>
      <div class="mb-3">
        <label for="jeniskelamin" class="form-label">Jenis Kelamin</label>
        <select class="form-select" id="jeniskelamin" name="jeniskelamin" required>
        <option value="">-- Pilih Kategori --</option>
        <option value="Laki-Laki">Laki-Laki</option>
        <option value="Perempuan">Perempuan</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="golpangkat" class="form-label">Gol Pangkat</label>
        <select class="form-select" id="golpangkat" name="golpangkat" required>
        <option value="">-- Pilih Golongan --</option>
        <option value="III/a-Penata Muda">III/a, Penata Muda</option>
        <option value="III/b-Penata Muda Tingkat l">III/b, Penata Muda Tingkat l</option>
        <option value="III/c-Penata">III/c, Penata</option>
        <option value="III/d-Penata Tingkat l">III/d, Penata Tingkat l</option>
        <option value="IV/a-Pembina">IV/a, Pembina</option> 
        <option value="IV/b-Pembina Tingkat l">IV/b, Pembina Tingkat l</option>
        <option value="IV/c-Pembina Utama Muda">IV/c, Pembina Utama Muda</option>
        <option value="IV/d-Pembina Utama Madya">IV/d, Pembina Utama Madya</option>
        <option value="IV/e-Pembina Utama">IV/e, Pembina Utama</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="tempatlahir" class="form-label">Tempat Lahir</label>
        <input type="text" class="form-control" id="tempatlahir" name="tempatlahir" required>
      </div>
      <div class="mb-3">
        <label for="tanggallahir" class="form-label">Tanggal Lahir</label>
        <input type="date" class="form-control" id="tanggallahir" name="tanggallahir" required>
      </div>
      <div class="mb-3">
        <label for="alamat" class="form-label">Alamat</label>
        <input type="text" class="form-control" id="alamat" name="alamat" required>
      </div>
      <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
  </div>
  
{%endblock%}